/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 50px;
}


.edit {
  margin-right: 10px;
  margin-left: 10px;
}

.edit2 {
  margin-right: 5px;
}

.error-box {
  width: 500px;
  background-color: red;
  border-top: solid 3px red;
  border-right: solid 3px red;
  border-left: solid 3px red;
}

.error-message {
  width: 500px;
  padding: 50px;
  background-color: #f0f0f0;
  border-right: solid 3px red;
  border-left: solid 3px red;
  border-bottom: solid 3px red;
}

.box {
  margin-left: 20px;
}

.list-title {
  font-weight: bold;
}

.list-body {
  font-weight: bold;
}